/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  letter-spacing: .02em;
  text-align: center;
  color: #44545E;
  background-color: none;
}
html {
  font-size: 15px;
}
/*--------profile picture-------------------*/
.mypic1{
  background-image: url("../images/backg2.jpg");
  background-color: white;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.73;
  color: white;
}
.articles{
 height: 500px;
 padding: 50px;
}
#quotes p {
  font-family: 'Merienda', cursive;
  font-size: 18px;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
  width: 500px;
  color: #44545E;
}

.pic1 {
  margin-top: 100px;
  max-width: 100%;
  width: 300px;
  border: 2px solid #ddd;
  border-radius: 4px;
  padding: 5px;

}
.pic1:hover{
 transform:rotate(10deg);
 box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.grid-wrapper{
  display: flex;
  flex-direction: row;
}
.col-half{
  width: 49%;
  margin: 35px;
}
#about{
  color:#000 ;
  background-color:#9fa8da;
  margin: 50px;
  padding: 30px;
}

/*//////////////////////////////////myNavvvvvvvvvvvvv////////////////*/

.myNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #f32617 ;
}

.myNav a {
  float: left;
  display: block;
  color:#fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.myNave a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.myNav .hamburger {
  display: none;
}
/*////////////////////////// fin nav /////////////////////*/
h2{
  text-transform: uppercase;
  color:#f32617  ;
}
#authorId{
  text-align: right;
  color: #f32617  ;
}
footer{
   background-color:#f32617;
  color:#fff ;
}
p{
  text-align: justify;
}
.social-links{
  size:14px;
  rotate : rotateY(30deg);
}
/* ----------------------------------------
Forms
------------------------------------------- */
input[type=text], input[type=email], input[type=phone],select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-top: none;
  border-left:none;
  border-top: none;
}
label{
float: left;
}
input[type=submit] {
  background-color: #f32617 ;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}


/*-----=================-----------*/
#myAbout{
  padding-top: 60px;
  margin: 100px;
}
/* -----------Slideshow container---------- */
.slideshow-container {
  max-width: 1000px;
  max-height: 500px;
  position: relative;
  margin: auto;
  width: 100%;
  max-height: 700px;
  margin: auto;
  overflow: hidden;
}

/* ---------Hide the images by default---------- */
.mySlides {
  display: none;
  width: 100%;
  height:100%;
}
.mySlides img {
  vertical-align: middle;
  width:100%;
  height: 100%;
  border: 2px solid #ddd;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/*---------------Number text (1/3 etc) ------*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* --------------The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
a.activeMenuItem {
    background-color: black;
    font-weight: bold;
}
/*-----==========    lightBox  =======-----------*/

/** LIGHTBOX MARKUP **/

.lightbox {
  /** Default lightbox to hidden */
  display: none;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.9);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block;
}

/*---- ----------- media query -----------*/
@media only screen and (max-width: 550px) {

  .grid-wrapper  {
    width: 100%;
    display: inline-block;
    margin-right: 10px;
  }
  .col-half{
    width: 85%;
 }

 .prev, .next,.text {
    font-size: 11px;
  }
}
.blockquote p{
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  .myNav a {
    display: none;
  }
  .myNav a.hamburger {
    float: right;
    display: block;
  }
  .container{
    margin: 10px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 600px) {

  .myNav.responsive {
    position: relative;
  }
  .myNav.responsive .hamburger {
    position: absolute;
    right: 0;
    top: 0;
  }
  .myNav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
